<style>
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 1200px;
  
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  min-height: 100px;
	overflow: hidden;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 380px;
  height: 400px;
}
table, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 25px;
}
p
{
text-align: center;
}
.button { margin:auto;
  display:block;
  background-color: #000018;
  border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
   }
th {
    background-color: #000018;
    color: white;
    font-size: 25px;
     font-family: 'Roboto', sans-serif;
     text-align: center;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #ffffff;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
}

</style>
<div id="login-box" >
	<br/><br/><h1>History</h1>
	<form >
			<p style="text-align:right">
			<input style="position: absolute;right: 70px" type="checkbox" ng-click="selectAll(content);" ng-model="selectall"  ng-true-value="true" ng-false-value="false" id="isSelected"/>Select All
</p>
			<table align="center">
			<th>Sr.No.</th>
			<th>Name of Company</th>
			<th>Type of Company</th>
			<th>Date</th>
			<th>Current Stock Value</th>
			<th>Check to Delete</th>
  			<tr ng-repeat="x in content">
			   <td>{{ $index + 1 }}</td>
			   <td>{{ x.name }}</td>
			   <td>{{ x.companyType }}</td>
			   <td>{{ x.date }}</td>
			   <td>{{ x.close }}</td>
			    <td><input type="checkbox" ng-model="x.selected"
                ng-true-value="'{{x.name}}'" ng-false-value="''"
                id="'{{x.name}}'" /></td>
			</tr>
			</table>
			<p><br/><br/>L:Large Cap M:Medium Cap S:Small Cap<br/><br/></p>
			<button class="button" ng-click="del(content)">Delete Selected Companies</button>
			</form>
			<br/><br/>
</div>